#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1


build: build-stamp
build-stamp:
	dh_testdir
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2
	make DATADIR=/usr/share/games/bloboats
	docbook-to-man debian/bloboats.sgml > debian/bloboats.6
	touch build-stamp

clean:
	dh_testdir
	# first make clean failes
	- make clean
	QUILT_PATCHES=debian/patches quilt pop -a -R || test $$? = 2
	rm -f debian/bloboats.6
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	make DATADIR=/usr/share/games/bloboats DESTDIR=debian/bloboats BINARYDIR=/usr/games install
	# xpm
	mkdir -p debian/bloboats/usr/share/pixmaps
	cp debian/bloboats.xpm debian/bloboats/usr/share/pixmaps

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs INTRO.xt  readme.txt debian/README.Debian
	dh_installman debian/bloboats.6
	dh_installmenu
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
