#!/usr/bin/make -f

%:
	dh $@ --parallel


override_dh_auto_build:
	$(MAKE) DATADIR=/usr/share/games/bloboats

override_dh_auto_install:
	$(MAKE) \
		DATADIR=/usr/share/games/bloboats \
		DESTDIR=debian/bloboats \
		BINARYDIR=/usr/games install
